
%div.splash
  = link_to image_tag("page 1.png"), categories_path
  %hr
  %br
  %h3.center Find your next health provider
  %form{:method => "get",:action=>"categories"}
    %div.navigation
      %div.segment.first
        %label Select a category
        %select{:name => "category_id"}
          - @categories.each do |category|
            %option{ :value => category.id} #{category.name}
      %div.segment.second
        %label Select your health insurance...
        %select
          %option Bupa
          %option Health Partners
          %option Medibank Private
          %option Police Health
      %div.segment.third
        %label Enter your Location
        %input 
      %div.clear  
    %div.centerbutton
      %button.btn.btn-warning.btn-large{:href => category_path(1)}>Search Now
    %div.clear  
    %br
    %br
    %hr
      