// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {
	float:right;
}

.image {
	float:left;
	width: 280px;
}

.description{ 
	float:left;
	width: 500px;
}

.stars {
  width: 150px;
}