%p#notice= notice

%p
  %b Name:
  = @category.name
  
%p
  %b Providers
  %table{:class => ['table', 'table-striped']}
    %tr
      %th Name
      %th Address
      %th Doctor Name
    -@category.provider.each do |provider|
      %tr
        %td=link_to provider.name, provider
        %td=provider.address1
        %td=provider.firstName
%br
= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
